Source: libzm-plugin-openalpr
Section: video
Priority: optional
Maintainer: Emmanuel Papin <manupap01@gmail.com>
Bugs: mailto:manupap01@gmail.com
Homepage: https://github.com/manupap1/libzm-plugin-openalpr
Standards-Version: 3.9.6
Build-Conflicts: libjpeg8-dev
Build-Depends: debhelper (>= 9), quilt, dh-autoreconf,
 libopenalpr-dev (>= 2.0.0), libzoneminder-plugin-dev (>= 1.28.1),
 libboost-program-options1.55-dev, libopencv-dev, libopencv-core-dev,
 libopencv-imgproc-dev

Package: libzoneminder-plugin-openalpr
Architecture: any
Depends: zoneminder-core (>= 1.28.1), ${shlibs:Depends}, ${misc:Depends}
Description: OpenALPR plugin for ZoneMinder (License Plate Recognition)
 ZoneMinder is a video camera security and surveillance solution.
 .
 This package provides a plugin based on OpenALPR library to support License
 Plate Recognition in ZoneMinder.

Package: libzoneminder-plugin-openalpr-dbg
Priority: extra
Section: debug
Architecture: any
Depends: libzoneminder-plugin-openalpr (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for ZoneMinder's OpenALPR plugin
 ZoneMinder is a video camera security and surveillance solution.
 .
 This package provides the debugging symbols the OpenALPR plugin.
